# Node modules
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

# IDE/editor configs
.vscode/
.idea/
*.swp

# TypeScript cache (nếu dùng TypeScript)
/*.tsbuildinfo

# Optional npm cache directory
.npm