<%- include('../partials/header') %>

<h1>Forgot Password</h1>
<form method="POST" action="/forgot-password">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-warning">Reset Password</button>
  <a href="/login" class="btn btn-link">Back to Login</a>
</form>

<%- include('../partials/footer') %>